*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Crimson Text";
    background-color: #008F8C;
}
h1,h2,p{
    color: white;
    text-shadow: 1px 1px 3px black;
}
header{
    width: 100%;
    top: 0;
    background-color: #023535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 2px rgb(70, 70, 70);
    position: fixed;
}
nav>ul{
    display: flex;
    list-style: none;
    
}
nav>ul>li{
    margin: 0 7px 0 7px;
}
nav>ul>li>a{
    background-color: #015958;
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 2px rgb(70, 70, 70);
    font-size: 20px;
}
nav>ul>li>a:hover{
    background-color: #00504e;
    padding: 18px;
}
.logo{
    padding: 30px;
    font-size: 25px;
}
.logo>a{
    text-decoration: none;
    font-size: 50px;
    color: white;
}
.container{
    margin: 145px auto 0 auto;
    width: 80%;
}
.content{
    width: 70%;
    margin: auto;
    padding: 30px;
}
.content>h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.content>h2{
    font-size: 40px;
    margin:15px 0;
}
.content>p{
    font-size: 25px;
    text-align: justify;
}
.content>img{
    width: 100%;
    margin: 40px 0 40px 0;
    border: 2px solid white;
    border-radius: 10px;
}
footer{
    height: 100px;
    background-color: #023535;
}