*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Crimson Text";
    background-color: #008F8C;
}
h1,h2,p{
    color: white;
    text-shadow: 1px 1px 3px black;
}
header{
    width: 100%;
    top: 0;
    background-color: #023535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 2px rgb(70, 70, 70);
    position: fixed;
}
nav>ul{
    display: flex;
    list-style: none;
    
}
nav>ul>li{
    margin: 0 7px 0 7px;
}
nav>ul>li>a{
    background-color: #015958;
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 2px rgb(70, 70, 70);
    font-size: 20px;
}
nav>ul>li>a:hover{
    background-color: #00504e;
    padding: 18px;
}
.logo{
    padding: 30px;
    font-size: 25px;
}
.logo>a{
    text-decoration: none;
    font-size: 50px;
    color: white;
}
.container{
    margin: 145px auto 0 auto;
    width: 80%;
}
.content{
    width: 70%;
    margin: auto;
    padding: 30px;
}
.content>h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.content>h2{
    font-size: 40px;
    margin:15px;
}
.content>p{
    margin: 30px;
    font-size: 25px;
    text-align: justify;
}
.content>img{
    width: 100%;
    margin: 40px 0 40px 0;
    border: 2px solid white;
    border-radius: 10px;
}
.container2{
    margin: 160px auto 0 auto;
    width: 80%;
    text-align: center;
}
.content2{
    width: 90%;
    margin: auto;
    padding: 30px;
}
.galeria{
    width: 400px;
    margin: 10px;
    border-radius: 50px;
}
.container3{
    margin: 160px auto 0 auto;
    width: 80%;
    min-height: 100vh;
}
.inscricao{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 840px;
    background-color: #00504e;
    border: solid 2px white;
    border-radius: 5px;
}
.inscricao>h1{
    font-size: 60px;
    padding: 40px 0 15px 0;
}
.login-form{
    font-size: 35px;
    margin-bottom: 25px;
    padding: 30px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.login-form>input{
    width: 670px;
    height: 40px;
    color: #023535;
    font-weight: normal;
    font-size: 20px;
    border-radius: 5px;
}
.login-form>input:hover{
    background-color: rgba(255, 255, 255, 0.897);
}
#telefone{
    width: 300px;
}
#username{
    width: 300px;
}
#password{
    width: 450px;
}
.button{
    text-align: center;
    margin-bottom: 70px;
}
.button>button{
    width: 450px;
    height: 80px;
    background-color: #0c5f39;
    color: white;
    font-size: 30px;
    border: solid white 2px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.button>button:hover{
    background-color: #0d683f;
    cursor: pointer;
}
footer{
    height: 100px;
    background-color: #023535;
}
@media screen and (max-width:720px) {
    .logo{
        padding: 15px;
    }
    .logo>a{
        font-size: 20px;
    }
    nav>ul>li>a{
        padding: 10px;
        font-size: 12px;
    }
    nav>ul>li{
        margin: 0 3px 0 3px;
    }

    .container{
        margin: 70px auto 0 auto;
        width: 80%;
    }
    .content{
        width: 78%;
    }
    .content>h1{
        font-size: 25px;
    }
    .content>h2{
        font-size: 18px;
        margin: 10px 0 10px 0px;
    }
    .content>p{
        font-size: 15px;
        margin: 10px 0 15px 0px;
    }
    .content>img{
        margin: 20px 0 20px 0;
    }
    footer{
        height: 65px;
    }
}
@media screen and (max-width:1189px) {
    .container2{
        margin: 135px auto 0 auto;
        width: 80%;
        text-align: center;
    }
    .content2{
        width: 75%;
        margin:0 auto 20px auto;
        padding:0 30px;
    }
    .galeria{
        width: 90%;
    }
}
@media screen and (max-width:720px){
    .container2{
        margin: 50px auto 0 auto;
    }
    .content2{
        margin:-45px auto 15px auto;
    }
}
@media screen and (max-width:1025px){
    .container3{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .inscricao{
        width: 500px;
        height: 700px;
        margin-bottom: 65px;
    }
    .login-form{
        font-size: 25px;
        margin-bottom: 25px;
    }
    .login-form>input{
        width: 400px;
        height: 30px;
        margin-bottom: 15px;
    }
    .button>button{
        width: 370px;
        height: 60px;
        font-size: 25px;
    }
    .inscricao>h1{
        font-size: 45px;
        padding: 30px 0 10px 0;
    }
}
@media screen and (max-width:720px){
    .container3{
        margin: 70px auto 0 auto;
    }
    .inscricao{
        width: 300px;
        height: 570px;
        margin-bottom: 45px;
    }
    .login-form{
        font-size: 20px;
        margin-bottom: 0;
        width: 250px;
    }
    .login-form>input{
        width: 230px;
        height: 30px;
        margin-bottom: 10px;
    }
    .button{
        margin-bottom: 35px;
    }
    .button>button{
        width: 230px;
        height: 50px;
        font-size: 20px;
    }
    .inscricao>h1{
        font-size: 35px;
        padding: 20px 0 10px 0;
    }
    #telefone{
        width: 170px;
    }
    #username{
        width: 170px;
    }
    #password{
        width: 200px;
    }
}